<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="ShopriteConnection" connectionString="server=41.21.207.231; database=shoprite;user=anco;password=@nc6672*" />
    <add name="ShopriteConnectionString" connectionString="Data Source=41.21.207.231;Initial Catalog=Shoprite;User ID=anco;Password=@nc6672G"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>